  .title-padding{
    padding-top: 100px;
  }

  .wave-container {
    z-index: -1;
    position: relative;
    /* color: #FFF; */
    text-align: center;
    overflow: hidden;
  }
  .portofolio-item.portofolio-item:hover{
    text-decoration: none;
  }
  .btn-outline-light:hover{
    color: var(--yellow);
  }
  .btn-outline-warning:hover{
    color: var(--light);
  }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .container-niki{
    max-width: 1600px;
    margin: 0 auto;
  }
  .nav-link{
    margin-right: 10px;
  }
  .title-padding{
    padding-top: 15%;
    padding-left: 90px;
  }
 }